body{
	background-color: #CCDBDC;
	

}


.jumbotron{
	background-color: #247BA0;
	font-family: 'Lobster', cursive;
}
#foodbox{
	background-color: #052F5F;
	border-radius:5px;
}

#logo, h3{
	color: #F7F4F3;
}

form{
	padding-left: 20px;
	padding-top: 110px;
	font-family: 'Lobster', cursive;
	

}

label{
	font-size: 20px;
	padding-left: 5px;
	padding-right: 5px;
	color: #F7F4F3;
}

option{
	font-size: 20px;
	
}

select:active, select:hover{
	outline-color: red;
}


#recipeBtn {
	margin-left:45%;
	font-family: 'Lobster', cursive;
	margin-top: 50px;
	margin-bottom: 110px;
	font-size: 20px;
	color: #F18F01;
	
}